{%load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">	
	<link rel="stylesheet" type="text/css" href="{%static "styles/bootstrap.css" %}">
	<link rel="stylesheet" type="text/css" href="{%static "styles/main.css" %}">
	<title>ConnectedID</title>
</head>
<body>
	<div class="container">
		<div class="header">
			<ul class="nav nav-pills pull-right">
				<li><a href="{% url 'index' %}">NOME</a></li>
				<li><a href="/logout/">LOGOUT</a></li>
			</ul>
			<h3 class="text-muted">ConnectedIn</h3>
		</div>
		<div class="row content">
			{% block body %}

			{% endblock %}
		</div>
	</div>
	
</body>
</html>